TestingSilverlightApp/Service References/ImageService/service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ImageProcessingService_RecognizeFromOcto_InputMessage">
    <wsdl:part name="parameters" element="RecognizeFromOcto" />
  </wsdl:message>
  <wsdl:message name="ImageProcessingService_RecognizeFromOcto_OutputMessage">
    <wsdl:part name="parameters" element="RecognizeFromOctoResponse" />
  </wsdl:message>
  <wsdl:message name="ImageProcessingService_AddToOctoSet_InputMessage">
    <wsdl:part name="parameters" element="AddToOctoSet" />
  </wsdl:message>
  <wsdl:message name="ImageProcessingService_AddToOctoSet_OutputMessage">
    <wsdl:part name="parameters" element="AddToOctoSetResponse" />
  </wsdl:message>
  <wsdl:message name="ImageProcessingService_GetTrainedLabels_InputMessage">
    <wsdl:part name="parameters" element="GetTrainedLabels" />
  </wsdl:message>
  <wsdl:message name="ImageProcessingService_GetTrainedLabels_OutputMessage">
    <wsdl:part name="parameters" element="GetTrainedLabelsResponse" />
  </wsdl:message>
  <wsdl:portType name="ImageProcessingService">
    <wsdl:operation name="RecognizeFromOcto">
      <wsdl:input wsaw:Action="urn:ImageProcessingService/RecognizeFromOcto" message="ImageProcessingService_RecognizeFromOcto_InputMessage" />
      <wsdl:output wsaw:Action="urn:ImageProcessingService/RecognizeFromOctoResponse" message="ImageProcessingService_RecognizeFromOcto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToOctoSet">
      <wsdl:input wsaw:Action="urn:ImageProcessingService/AddToOctoSet" message="ImageProcessingService_AddToOctoSet_InputMessage" />
      <wsdl:output wsaw:Action="urn:ImageProcessingService/AddToOctoSetResponse" message="ImageProcessingService_AddToOctoSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainedLabels">
      <wsdl:input wsaw:Action="urn:ImageProcessingService/GetTrainedLabels" message="ImageProcessingService_GetTrainedLabels_InputMessage" />
      <wsdl:output wsaw:Action="urn:ImageProcessingService/GetTrainedLabelsResponse" message="ImageProcessingService_GetTrainedLabels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>